@{
    ViewData["Title"] = "All Dishes";
}
@model List<Dish>

<h1>Yum! Check out our tasty dishes!</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Chef</th>
        <th>Tastiness</th>
        <th>Calories</th>
    </tr>
    @foreach (Dish d in Model)
    {
    <tr>
        <td>@d.Name </td>
        <td>@d.Creator.FirstName @d.Creator.LastName</td>
        <td>@d.Tastiness</td>
        <td>@d.Calories</td>
    </tr>
    }
    </table>
