@model Dish
@{
    ViewData["Title"] = "Edit Dish";
}
<h1>Edit a Dish</h1>

<form asp-action="EditDish" asp-route-dishId="@Model.DishId" asp-controller="Dish" method="POST" class="shadow p-3 rounded">
    <div class="d-flex justify-content-center">
        @* col one *@
        <div class="mx-2">
            <div class="mb-5">
                <label asp-for="ChefId">Chef's Name:</label>
                
                
                <Select asp-for="ChefId" class="">
                    @foreach (Chef c in @ViewBag.ChefNames)
                {
                    <option value = "@c.ChefId"  >@c.FirstName @c.LastName</option>
                }
                </Select>
            </div>
            <div class="mb-5">
                <label asp-for="Name"></label>
                <input asp-for="Name" value="@Model.Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="mb-5">
                <label asp-for="Calories">Calories:</label>
                <input asp-for="Calories" value="@Model.Calories" class="form-control">
                <span class="text-danger" asp-validation-for="Calories"></span>
            </div>
        </div>
        @* col two *@
        <div class="mx-4">
            <div>
                <div><label asp-for="Tastiness"></label></div>
                <Select asp-for="Tastiness" class="">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=1>3</option>
                    <option value=1>4</option>
                    <option value=1>5</option>
                </Select>
            </div>
        </div>
        @* col three *@
        <div class="mx-3">
            <div>
                <label asp-for="Description"></label>
            </div>
            <div>
                <textarea asp-for="Description" value="@Model.Description"></textarea>

                
            </div>
            <div>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="d-flex justify-content-end">
                <button>Edit Dish</button>
            </div>
            
        </div>

    </div>

</form>